[Unit]
Description=Tadpole jupyter lab service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=tadpole
ExecStart=/usr/bin/start-lab.sh

[Install]
WantedBy=multi-user.target